Django==6.0.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.4.0
djangorestframework-camel-case==1.4.2
psycopg2-binary==2.9.10
drf-spectacular==0.28.0
django-cors-headers==4.9.0
django-filter==25.2
python-decouple==3.8
Pillow==11.0.0
gunicorn==23.0.0
openai>=1.0
dj-database-url==2.3.0
whitenoise==6.8.2
django-storages==1.14.4
boto3==1.35.36
pypdf==5.1.0
python-docx==1.1.2
APScheduler==3.10.4
